@import '../../../vars.css';

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background: #f1f2f6;
}

.form-container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3rem 2rem 4rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1rem;
}

.title {
  text-align: center;
  color: var(--color-text-primary);
  margin-bottom: 0;
}

.sign-in-text {
  color: var(--color-text-primary);
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 300;
}

.input-container {
  grid-column: 1/-1;
}

.input {
  display: block;
  width: 100%;
  font-size: calc(14px + (16 - 14) * ((100vw - 400px) / (1800 - 400)));
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.error-message {
  color: var(--color-danger);
  font-size: 12px !important;
  width: 100%;
  margin: 0 2px 0;
}

.forgot-password {
  text-align: center;
  font-size: 0.85rem;
  margin: 0.25rem;
  color: var(--color-primary);
}

.login-button {
  display: block;
  width: 100%;
  background: var(--color-primary);
  color: white;
  border: 0.5px solid white;
  padding: var(--input-padding);
  border-radius: 6px;
  font-size: var(--input-font-size);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: background 300ms ease-in-out, transform 150ms ease-in-out, filter 150ms ease-in-out;
}

.login-button:hover {
  filter: brightness(85%);
}
