@import '../../../../vars.css';

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80px;
  margin: 0 auto;
}

.button {
  border: 1px solid #aaa;
  box-shadow: var(--button-box-shadow);
  border-radius: 5px;
  padding: 0.5rem;
}

.button-view {
  background: var(--color-success);
}

.button-edit {
  background: var(--color-edit);
}

svg {
  color: #fff;
}
