@import '../../../../../vars.css';

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background: #f1f2f6;
}

.form-container {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}

.form-container > h2 {
  text-align: center;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

.edit-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.edit-container > button {
  cursor: pointer;
  background: transparent;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.edit-container > button > p {
  margin: 0 0 0 0.5rem;
}

.edit-container > button > svg {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  row-gap: 0.5rem;
  column-gap: 1rem;
}

.client-name {
  grid-column: span 12;
}

.consultant-first-name,
.consultant-last-name {
  grid-column: span 6;
}

.supervisor-first-name,
.supervisor-last-name,
.supervisor-email {
  grid-column: span 4;
  grid-row-start: 4;
}

.week-starting,
.week-ending {
  grid-column: span 6;
  grid-row-start: 3;
}

.rate,
.total-hours,
.status {
  grid-column: span 4;
  grid-row-start: 4;
}

.input-label {
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 600;
}

.input {
  width: 100%;
  font-size: calc(14px + (16 - 14) * ((100vw - 400px) / (1800 - 400)));
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.error-message {
  color: var(--color-danger);
  font-size: 12px !important;
  width: 100%;
  margin: 0 2px 0;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

.button {
  display: block;
  font-size: var(--input-font-size);
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  cursor: pointer;
  transition: background 300ms ease-in-out, transform 150ms ease-in-out,
    filter 150ms ease-in-out;
}

.save {
  background: var(--color-primary);
  color: white;
  border: 0.5px solid white;
  padding: 0.75rem 3rem;
  margin-left: 0.5rem;
}

.cancel {
  padding: 0.75rem 2rem;
  border: 0.5px solid white;
}

.save:hover,
.cancel:hover {
  filter: brightness(85%);
}
