@import '../../../../vars.css';

.dropdown-container {
  background: white;
  border: 1px solid lightgray;
  border-top: none;
  width: 220px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-row {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 0.9rem;
}

.dropdown-row:hover {
  background: var(--color-primary);
  color: white;
}
