@import '../../../../vars.css';

.burger-container {
  background: #fff;
  color: var(--color-primary);
}

.burger-container > a {
  display: block !important;
  padding: 1rem 0 !important;
}

.burger-container-current {
  color: #fff;
  background: var(--color-primary);
}

.logo-container {
  margin: 3rem 0 !important;
  display: flex !important;
  align-items: center !important;
  width: auto !important;
  transform: none;
  border-radius: 100px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo-container {
    display: none;
  }
}
